*,
*::after,
*::before {
    margin: 0px;
    padding: 0px;
    box-sizing: inherit;
    /* Aris no seas puto */
}

html {
    font-size: 62.5%;
    --amarillo: var(#F4E61B);
    --azul: var(#3b49d3);
    --rosa: var(#FA7071);
    /* 10px */
}

body {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    line-height: 1.7;
    color: #707070;
    padding: 3rem;
    box-sizing: border-box;
}

.header {
    height: 95vh;
    width: 95vw;
    background-image: linear-gradient(to right bottom, rgba(244, 230, 27, 0.8), rgba(250, 112, 112, 0.8)), url(../img/room.jpg);
    background-size: cover;
    background-position: top;
    clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
}

.aux {
    z-index: -1;
    width: 95vw;
    height: 20vh;
    background-color: #f7f7f7;
    padding: 1rem 0;
    margin-top: -20vh;
}

.section {
    height: 95vh;
    width: 95vw;
    display: flex;
    align-items: center;
    background-color: #f7f7f7;
}

.section-intro {
    width: 60%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.section-intro>p {
    width: 90%;
    font-size: 1.6rem;
}

.section-line {
    height: 70%;
    width: .3rem;
    background-color: #707070;
}

.section-photo {
    height: 100%;
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.section-photo-img {
    height: 28rem;
    width: 24rem;
    background-image: url(../img/dyslexia.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.section-photo-img:hover {
    transform: translateY(-3px);
    box-shadow: 0 .6rem 2rem rgba(0, 0, 0, .2);
}

.section-photo-img:active {
    transform: translateY(-1px);
    box-shadow: 0 .1rem 1rem rgba(0, 0, 0, .2);
}

.logo-box {
    position: absolute;
    top: 5rem;
    left: 5rem;
    animation: moveInLeft 3s ease-out;
}

.logo {
    height: 6rem;
}

.text-box {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.heading-primary {
    color: #fff;
    text-transform: uppercase;
    backface-visibility: hidden;
    margin-bottom: 6rem;
}

.heading-primary-main {
    display: block;
    font-size: 6rem;
    font-weight: 400;
    letter-spacing: 3.5rem;
    animation-name: moveInLeft;
    animation-duration: 3s;
    animation-timing-function: ease-out;
}

.heading-primary-sub {
    display: block;
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: 1.73rem;
    animation: moveInRight 3s ease-out;
}

@keyframes moveInLeft {
    0% {
        opacity: 0;
        transform: translateX(-10rem);
    }
    80% {
        transform: translateX(1rem);
    }
    100% {
        opacity: 1;
        transform: translate(0);
    }
}

@keyframes moveInRight {
    0% {
        opacity: 0;
        transform: translateX(10rem);
    }
    80% {
        transform: translateX(-1rem);
    }
    100% {
        opacity: 1;
        transform: translate(0);
    }
}

@keyframes moveInBottom {
    0% {
        opacity: 0;
        transform: translateY(3rem);
    }
    100% {
        opacity: 1;
        transform: translate(0);
    }
}

.btn:link,
.btn:visited {
    text-transform: uppercase;
    text-decoration: none;
    width: 15rem;
    height: 4rem;
    padding-top: .8rem;
    display: inline-block;
    border-radius: 10rem;
    transition: all .2s;
    position: relative;
    font-size: 1.6rem;
}

.btn:hover {
    transform: translateY(-3px);
    box-shadow: 0 .6rem 2rem rgba(0, 0, 0, .2);
}

.btn:active {
    transform: translateY(-1px);
    box-shadow: 0 .1rem 1rem rgba(0, 0, 0, .2);
}

.btn-white,
.btn-white:focus,
.btn-white:hover {
    background-color: #fff;
    color: #777;
}

.btn-white::after {
    background-color: #fff;
}

.btn:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0;
}

.btn-animated {
    animation: moveInBottom .5s ease-out .75s;
    animation-fill-mode: backwards;
}

.login-sec {
    height: 95vh;
    width: 95vw;
    background-color: #f7f7f7;
    display: flex;
}

.login-sec-60 {
    height: 100%;
    width: 60%;
    background-image: linear-gradient(to right bottom, rgba(250, 112, 112, 0.8), rgba(27, 73, 211, 0.8)), url(../img/room2.jpg);
    background-size: cover;
    background-position: top;
    clip-path: polygon(20% 0, 100% 0, 80% 100%, 0 100%);
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo2-box {
    width: 30rem;
    height: 20rem;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: moveInLeft 3s ease-out;
}

.logo2 {
    height: 10rem;
}

.login-sec-40 {
    height: 100%;
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.login-sec-40-title{
    animation: moveInRight 3s ease-out;
    text-transform: uppercase;
    margin-bottom: 3rem;
}

.login-sec-40-title-p{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login-sec-40-title-p-1{
    font-size: 1.5rem;
    font-weight: 400;
    letter-spacing: 1.8rem;
}

.login-sec-40-title-p-2{
    font-size: 2rem;
    font-weight: 400;
    letter-spacing: 2rem;
}

.login-form {
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login-form>input {
    width: 90%;
    border: none;
    background-color: white;
    outline: none;
    border: 1px solid #FA7071;
    border-radius: 10rem;
    padding: 1rem 2rem;
    margin-bottom: 1rem;
    font-size: 1.6rem;
    font-weight: 400;
}

.login-form>input[type="submit"]{
    background-color: #3b49d3;
    font-weight: 400;
    border: none;
    width: 40%;
    color: white;
}

.login-form>input[type="submit"]:hover {
    transform: translateY(-3px);
    box-shadow: 0 .6rem 2rem rgba(0, 0, 0, .2);
}

.login-form>input[type="submit"]:active {
    transform: translateY(-1px);
    box-shadow: 0 .1rem 1rem rgba(0, 0, 0, .2);
}