
*,
*::after,
*::before {
    margin: 0px;
    padding: 0px;
    box-sizing: inherit;
}
:root{
    --amarillo: #F4E61B;
    --azul: #3b49d3;
    --rosa: #FA7071;
    --negro: #070707;
    --blanco: #FFF;
}

html {
    font-size: 62.5%;
    width: 100%;
    height: 100%;
    /* 10px */
}

body{
    background-color: var(--blanco);
    font-family: "Lato", sans-serif;
}
.header{
    width: 100vw;
    height: 7rem;
    background-color: green;
}
.logo-header{
    width: 20vw;
    height: 100%;
    background-color: var(--negro);
}

.lema{
    width: 80vw;
    height: 100%;
    background-color: var(--amarillo);
}

.container{
    width: 100vw;
    height: calc(100% - 7rem);
}

.container-cards{
    height: 90%;
    width: 80vw;
    background-color: var(--azul);
}
.cat{
    height: 100%;
    width: 50%;
}
.card-cat{
    width: 80%;
    height: 80%;
    background-color: var(--amarillo);
}

.header-card{
    width: 100%;
    height: 20%;
}

.card-content{
    
}